/*
app variables
*/

:root {
  /* background colors */
  --action-key-color: #11cab2;
  --action-key-color-hover: #0fa18e;
  --calculator-background-color: #1f03bb;
  --display-background-color: #11f03bb;
  --number-key-color: #0c69d3;
  --number-key-color-hover: #094e9e;
  --submit-key-color: #04e9e9;
  --submit-key-color-hover: #10c5c5;

  /* font */
  --main-font: 'Orbitron', sans-serif;

  /* font colors */
  --display-text-color: #24c707;
  --key-text-color: #1b0242;

  /* font sizes */
  --display-text-size: 4em;
  --key-text-size: 3em;

  /* font weights */
  --display-text-weight: 400;
  --key-text-weight: 700;

  /* calculator dimensions */
  --calculator-height: 72%;
  --calculator-width: 36%;

  /* display dimensions */
  --display-height: 24%;
  --display-width: 92%;

  /* keypad dimensions */
  --keypad-height: 72%;
  --keypad-width: 96%;
}

/*
media query for tablet or smaller screen
*/

@media screen and (max-width: 1024px) {
  :root {
    /* font sizes */
    --display-text-size: 10em;
    --key-text-size: 6em;

    /* calculator dimensions */
    --calculator-height: 100%;
    --calculator-width: 100%;
  }
}

/*
app CSS reset
*/

body, div, p {
  margin: 0;
  padding: 0;
}